.Abtitle h1,h2,h3{
    color: #00BCD4;
    margin-bottom: 20px;
    font-size: 35px;
}

.Abtitle h2{
    color: #00BCD4;
    margin-bottom: 20px;
    font-size: 35px;
}

.Abtitle h3{
    color: #00BCD4;
    margin-bottom: 20px;
    font-size: 35px;
}

.Abtitle p,li{
    color: #ffff;
}

.Abtitle ul.timeline {
    list-style-type: none;
    padding: 0;
}

.Abtitle ul.timeline li {
    padding-bottom: 20px;
    position: relative;
    padding-left: 20px;
}

.Abtitle ul.timeline li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: #fdd835;
}
.Abtitle .images {
    background-color: #00000013;
    border-radius: 26px 65px 26px 65px;
    padding: 5px;
    overflow: hidden;
}

.Abtitle img {
    width: 100%;
    height: auto; 
    transition: transform 0.5s ease, filter 0.5s ease;
    filter: brightness(80%);
    border-radius: 15px;
}

.Abtitle img:hover {
    transform: scale(1.05);
    filter: brightness(100%);
}

.Abtitle .banner-image img {
    width: 100%;
    height: 280px;
    border-radius: 0;
    transition: transform 0.5s ease;
    border-radius: 26px 65px 26px 65px;
}

.Abtitle .banner-image {
    position: relative;
    left: 50%;
    top: 0;
    right: 50%;
}