@tailwind base;
@tailwind components;
@tailwind utilities;

/* GENERAL */
/* colores

Azules claros
Principal background: #5dacbd; 
oscuro background: #24527a; 
Claro background: #a7bcb9;
muy claro background: #e0ebeb;

Azules oscuros
Principal background: #1e549f; 
oscuro background: #081f37; 
Claro background: #2e79ba;
muy claro background: #5fc9f3;


Dorado 
Principal #e7ae11;
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
  }
  
  @media (max-width: 576px) {
  body {
    font-size: 100%;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
  }
  }
  
  html {
  scroll-behavior: smooth;
  }

  body{
    background-color: #ffffff;
    color: #081f37;
  }
  h1, h2{-webkit-animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both}

 @-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}