.Modals{
    color: rgb(0, 0, 0);
}
.Modals body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
  }
  
.Modals .titleModal {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
.Modals input {
    background-color: #102ba533;
    color: rgb(0, 0, 0);
  }
  
.Modals input::placeholder {
    color: #000000;
  }

.Modals .Datein{
    background-color: #69696900;
    color: rgb(0, 0, 0);
    border: none;
}
  
.Modals button {
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
.Modals button:hover {
    transform: scale(1.05);
  }
  
.Modals  .fixed {
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  